.myDIV {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    background: url("source/photos/lizard.png");
    background-color: #000;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px
}

.myDIV .myInnerDIV {
    width: 100%;
    max-width: 790px;
    padding-top: 8vh
}

.myreadme {
    position: fixed;
    bottom: 5px;
    left: 15px;
}

.myreadme a {
    color: #696969;
}

.myDIV .myInnerDIV .emoji-btn {
    font-size: 28px;
    background-color: Transparent;
    border: 0;
    width: auto;
}

.myDIV .myInnerDIV .inner-form {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(220, 220, 220, .5);
    border-radius: 34px;
    overflow: hidden;
    margin-bottom: 30px
}

h1 {
    text-align: center;
    color: #fff
}

h2 {
    text-align: center;
    color: #fff
}

.myDIV .myInnerDIV .inner-form .input-field {
    height: 68px
}

.myDIV .myInnerDIV .inner-form .input-field input {
    height: 100%;
    background: 0 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000
}

.myDIV .myInnerDIV .inner-form .input-field input.placeholder {
    color: #222;
    font-size: 16px
}

.myDIV .myInnerDIV .inner-form .input-field input:-moz-placeholder {
    color: #222;
    font-size: 16px
}

.myDIV .myInnerDIV .inner-form .input-field input::-webkit-input-placeholder {
    color: #222;
    font-size: 16px
}

.myDIV .myInnerDIV .inner-form .input-field input:hover,
.myDIV .myInnerDIV .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0
}

.myDIV .myInnerDIV .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #fff
}

.myDIV .myInnerDIV .inner-form .input-field.first-wrap input {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.myDIV .myInnerDIV .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.myDIV .myInnerDIV .inner-form .input-field.first-wrap svg {
    width: 36px;
    height: 36px;
    fill: #222
}

.myDIV .myInnerDIV .inner-form .input-field.second-wrap {
    min-width: 100px
}

.myDIV .myInnerDIV .inner-form .input-field.second-wrap .btn-search {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 28px;
    color: #fff;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: #f8421a;
    transition: all .2s ease-out, color .2s ease-out;
    font-weight: 300;
}

.myDIV .myInnerDIV .inner-form .input-field.second-wrap .btn-search:hover {
    background: #d22b06
}

.myDIV .myInnerDIV .inner-form .input-field.second-wrap .btn-search:focus {
    outline: 0;
    box-shadow: none
}

.myDIV .myInnerDIV .info {
    font-size: 15px;
    color: #ccc;
    padding-left: 26px
}

.myDIV .myInnerDIV .info2 {
    font-size: 12px;
    color: #ccc;
    padding-left: 26px
}

.myDIV .myInnerDIV .info2 a {
    color: #696969;
}
